/*index styles*/
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0 auto;
  margin: 0 auto;   
  border: 0; 
  font: inherit;   
  font-size: 100%;   
  margin: 0; 
  padding: 0;  
  vertical-align: baseline;
}

a {
    text-decoration: none;
    color: inherit;
}

.main {
    font-size: 1.5rem;
    height: 100vh;
    line-height: 1.5rem;
    width: 100vw;
    font-family: Times New Roman, Times, serif;
}

.registerContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.registerContainerTitle {
    font-size: 2.4rem;
    margin-bottom: 4rem;
}

.registerInputContainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.registerInputLabel {
    font-size: 1.6rem;
    margin-bottom: .5rem;
}

.registerInputInput {
    border: 1px solid #3498db;
    border-radius: .5rem;
    font-size: 1.6rem;
    padding: .5rem;
}

.registerContainerButton {
    margin-top: 2rem;
}

.disabled {
    cursor: not-allowed;
    opacity: .5;
}

.buttonContainer { 
    align-items: center;
    border: 1px solid #000;
    border-radius: .5rem;
    cursor: pointer;
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
    padding: 1rem 2rem;
}

/*page2 styles*/

.homePageContainer {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navContainer {
    align-items: center;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    height: 6rem;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 100%;
}

.navLeft {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-start;
}

.navRight {
    align-items: center;
    display: flex;
    gap: 1rem;
    height: 100%;
    justify-content: flex-end;
}

.IconContainer {
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
}

.clickable {
    cursor: pointer;
}

.homePageContent {
    flex: 1;
    overflow: hidden;
}

.mainPageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*settings styles*/

.settingsPageContainer {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mainSettingsPageContainer {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    width: 100%;
}

.editNameContainer {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.secondary {
    font-size: 1rem;
    padding: .5rem 1rem;
}

.editNameInput {
    width: 23%;
    pointer-events: none;
}

.editable {
    width: 70%;
    pointer-events: all;
}
/*character styles*/

.characterPageContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    width: 100%;
}
.characterInformation {
    display: flex;
    gap: 3rem;
}
.characterInformationAvatar {
    border: 1px solid grey;
    border-radius: 15px;
    height: 550px;
    position: relative;
    width: 300px;
}

.imageButton {
    display: none;
}

.imageButtonPic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.imageEdit {
    width: 25px;
    height: 25px;
}

.characterInformationAvatar:hover .imageButton {
    align-items: center;
    background: rgba(255,255,255,.5);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
    
}

.characterInformationAvatarImage {
    border-radius: 15px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.characterInformationData {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.characterInformationDataResults {
    display: flex;
    gap: 1rem;
}
.characterInformationDataResults_Wins {
    color: green;
}
.characterInformationDataResults_Losses {
    color: red;
}

/*heroes pick styles*/
.heroesContainer {
    align-items: center;
    background-color: #fff9;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
}
.heroesContent {
    align-items: center;
    background-color: #a2a0a0;
    border: 1px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    height: 50%;
    justify-content: center;
    padding: 4rem 1rem 1rem;
    position: relative;
    width: 50%;
}

.heroesCloseButton {
    background-color: #fff;
    border: 1px solid white;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.heroesPickContent {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    height: 100%;
    overflow-y: auto;
    width: 100%;
}

.heroesPick {
    height: 450px;
    position: relative;
    width: 250px;
}

.yesButtonContainer {
    display: none;
}

.heroesPick:hover .yesButtonContainer {
    align-items: center;
    background: rgba(255,255,255,.5);
    display: flex;
    height: 40px;
    justify-content: center;
    left: 110px;
    position: absolute;
    top: 225px;
    width: 40px;
}

.heroesPick:hover .heroImg {
   opacity: 0.6;
}

.yesButton {
    width: 40px;
    height: 40px;
    border: none;
}

.heroImg {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.hidden {
    display: none;
}

/*fight page styles*/

.fightPageContainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}


.figthContainer {
    flex: 1;
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}


.unitContainerHero,
.unitContainerEnemy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    gap: 2rem;
}

.unitName {
    font-size: large;
}

.unitPicEnemy,
.unitPicHero {
    width: 300px;
    height: 550px;
}

.healthInfoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.healthBar {
    width: 100%;
}

progress::-webkit-progress-bar {
    border-radius: 25px;
    background-color: #45454598;
}

progress::-webkit-progress-value {
    border-radius: 25px;
    background-color: #5f0000;
}
    
.healthDigits {
    width: fit-content;
    font-size: large;
}

.fightSettingsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.zonesPick {
    display: flex;
    gap: 1rem;
}

.attackZones {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
}

.attackZoneContainer {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}   

.attackZoneLabel {
    cursor: pointer;
}

.attackZoneInput {
    margin: 0;
    cursor: pointer;
}

.midBorderLine {
    width: 1px;
    background-color: gray;
}

.defenceZonesPick {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.defenceZoneContainer {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.defenceZoneInput {
    margin: 0;
    cursor: pointer;
}

.defenceZoneLable {
    cursor: pointer;
}

.logContainer {
    font-size: large;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-top: 1px solid black;
    overflow-y: auto;
    height: 25%;
}

.imageEnemyButton {
    display: none;
}

.unitContainerEnemy {
    position: relative;
}

.unitContainerEnemy:not(.disabled):hover .imageEnemyButton {
    align-items: center;
    background: rgba(255,255,255,.5);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
    
}

.enemyContainer {
    align-items: center;
    background-color: #fff9;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
}
.enemyContent {
    align-items: center;
    background-color: #a2a0a0;
    border: 1px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    height: 50%;
    justify-content: center;
    padding: 4rem 1rem 1rem;
    position: relative;
    width: 50%;
}

.enemyCloseButton {
    background-color: #fff;
    border: 1px solid white;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.enemyPickContent {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    height: 100%;
    overflow-y: auto;
    width: 100%;
}

.enemyPick {
    height: 450px;
    position: relative;
    width: 250px;
}

.enemyPick:hover .enemyImg {
   opacity: 0.6;
}

.enemyImg {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.yesButtonContainer {
    display: none;
}

.enemyPick:hover .yesButtonContainer {
    align-items: center;
    background: rgba(255,255,255,.5);
    display: flex;
    height: 40px;
    justify-content: center;
    left: 110px;
    position: absolute;
    top: 225px;
    width: 40px;
}

.yesButton {
    width: 40px;
    height: 40px;
    border: none;
}

.winPopupContent,
.loosePopupContent {
    align-items: center;
    background-color: #a2a0a0;
    border: 1px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    height: 50%;
    justify-content: center;
    padding: 4rem 1rem 1rem;
    position: relative;
    width: 50%;
}

.winPopup,
.loosePopup {
    align-items: center;
    background-color: #fff9;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
}




.looseText,
.winText {
    font-size: xx-large;
    color: #000;
}

#winCloseBtn,
#looseCloseBtn {
    background-color: #fff;
    border: 1px solid white;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.hidden  {
    display: none; 
}

.disabled_2 {
    cursor: not-allowed;
    pointer-events: none;
}

.log-player {
  color: rgb(0, 2, 128);
  font-weight: bold;
}

.log-enemy {
  color: rgb(184, 153, 0);
}

.log-zone {
  color: rgb(139, 0, 181);  
  font-style: italic;
}

.log-damage {
  color: rgb(255, 0, 0);     
  font-weight: bold;
}

.defenceZoneInput,
.attackZoneInput {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.my-chb,
.my-r {
    width: 24px;
    height: 24px;
    background-color: #111;
    border: 2px solid #e60000;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;
}

.defenceZoneInput:checked + .my-chb::before,
.defenceZoneInput:checked + .my-chb::after,
.attackZoneInput:checked + .my-r::before,
.attackZoneInput:checked + .my-r::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 2px;              
    background-color: #ff2200; 
    box-shadow: 0 0 4px #ff5500, 0 0 8px #ff3300; 
}

.defenceZoneInput:checked + .my-chb::before,
.attackZoneInput:checked + .my-r::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.defenceZoneInput:checked + .my-chb::after,
.attackZoneInput:checked + .my-r::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.my-chb:hover,
.my-r:hover {
  background-color: #333;
}

.defenceZoneContainer input[type="checkbox"]:checked + .my-chb::before {
  background-color: #e60000;
}

.defenceZoneContainer input[type="radio"]:checked + .my-r::before {
  background-color: #e60000;
}

.defenceZoneText,
.attackText,
.mktxt {
  font-family: 'Mortal Kombat', sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  vertical-align: middle;
}

.defenceZoneLable,
.attackZoneLabel {
    align-items: center;
    display: flex;
    gap: 10px;
}

.mkcolor {
    background-color: #b21800; 
    box-shadow: 0 0 4px #ff5500, 0 0 8px #ff3300; 
}

.disabled {
    pointer-events: none;
}

#fightPage {
    background-image: url(../assets/images/Arena_netherealm.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    color: rgb(255, 251, 0);
}

.fpsvg {
    filter: brightness(0) saturate(100%) invert(93%) sepia(100%) saturate(3726%) hue-rotate(353deg) brightness(104%) contrast(103%);
}

@media (min-width: 1900px) {
    #fightPage {
        background-position: center;
    }
}